/* styles from the initial page */
.logbackground {
    background: #e6005c;
    font-style: italic;
    color: white;
    text-align: center;

}

.pad {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logimg {
    padding-left: 80px;
    padding-top: 50px;
}

.item.item-input{
    background-color: transparent;
    border-top: none;
    border-left: 40px;
    border-right: 40px;
}

.card-1{
    background-color: #e6005c;
    box-shadow:none;



}

.logbutton {
    border: solid 1px white;
    background-color: transparent;
    font-style: italic;
    color: white;
    border-radius: 30;
}

/* styles for the sign up page */
.signupbackground {
    background: #b3c6ff;
    font-style: italic;

}

.buttonGrey {
    border:solid 1px grey;
    padding-top:5px;
    font-size:18px;
    background-color:#ccccb3;
    height:55px;
}

.buttonWhite {
    border:solid 1px grey;
    padding-top:5px;
    font-size:18px;
    height:55px;
}

.centerPad{
    padding-left: 40px;
    padding-right: 40px;
}

.test {
    margin-top: 20px;
}


.ion-plus:before {
    content: url('../img/icons_s/Notification_Ash.png')!important;
}

.ion-plus {
    font-size:30px;
}

.ion-asterisk:before {
    content: url('../img/icons_s/Home_Ash.png')!important;
}

.ion-quote:before {
    content: url('../img/icons_s/Upload_Ash.png')!important;
}

.ion-heart-broken:before {
    content: url('../img/icons_s/Competition_Ash.png')!important;
}

.ion-ios-play:before {
    content: url('../img/icons_s/Mutual_icon.png')!important;
}
/* SUPER CODE TO TRANSFORM IMAGES IN ICONS CRAZYYYYYYY  */

.noshadow {
    box-shadow: none;
}

.imgContainer {
    float:left;
}


.home-bar {
    height: 55px;
    background-color:#e6005c;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

.profileGallery {
    height: 100%;
    max-height: 150px;

}
