<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{com.poster.name}}'s picture   </h1>
        <button class="button button-clear button-primary" ng-click="closeComment()">Back</button>
    </ion-header-bar>
    <ion-content class="has-footer">
        <div class="card" style="box-shadow:none;">
            <div class="list" >

                <a class="item item-avatar"  ng-repeat="comment in com.comments | orderBy: 'commentTime'" ui-sref="app.profile({id:comment.commenterId})" ng-click="closeComment()" ng-if="com.comments.length > 0">

                    <img ng-src="{{}}" ><span style="position:absolute;top:0;right:10px;" ng-if="com.poster.userId === myId || commment.commenterId === myId" ng-click="deleteComment(picture.id, com.id)"><i class="icon ion-close-round"></i></span>
                    <h2 class="text-left" ui-sref="app.profile({id:comment.commenterId})">{{comment.commenterUserName}}</h2>
                    <p class="text-left" style="padding-top:5px">{{comment.commentMessage}}</p>
                    <br>
                   <p style="color:#D1D0CE;"> {{comment.commentTime | date:'medium'}}</p>
                </a>
                <a ng-if="com.comments.length == 0">
                  <p>Be the first to comment</p>
                </a>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar>
        <div class="row no-padding">
            <div class="col col-50">
              <label class="item item-input inline">
                 <textarea placeholder="Comments" ng-model="commentData.comment" required></textarea>
             </label>
            </div>
            <div class="col">
              <button class="button button-small button-positive" type="reset" ng-click="submitComment(picture.id)" style="bottom:0;right:0">
                  Send
              </button>
            </div>
        </div>
            <!--
            <form style="bottom:0;left:0;position:relative" name="commentForm" ng-submit="submitComment(picture.id)" novalidate>

                <button class="button button-small button-positive" type="reset" ng-click="submitComment(picture.id)" style="bottom:0;right:0">
                    Send
                </button>

            </form> -->
    </ion-footer-bar>
</ion-modal-view>
