<div class="tabs tabs-icon-only">
        <a class="tab-item" style="padding-top:8px" ui-sref="app.home">
            <i><img style="height:25px" src="img/Greyhouse%20M.png"></i>
        </a>
        <a class="tab-item" style="padding-top:9px" ui-sref="app.competition()">
            <i><img style="height:26px" src="img/Competition%20B.png"></i>
        </a>
        <a class="tab-item" style="padding-top:8px" ng-click="openPopover($event)"> <!-- ng-click="openPopover($event)" -->
            <i><img style="height:33px" src="img/Lens%20big.png"></i>
        </a>
        <a class="tab-item" style="padding-top:11px" ng-click="modal.show()">
            <i><img class="icon" style="height:24px" src="img/Greyman%20M.png"></i>
            
        </a>
    <div>
        <a class="item item-avatar" style="background:transparent;border:none" ui-sref="app.profile({id:userId})">
            <img ng-src="{{myUser.profilePicUrl}}" ng-show="myUser.profilePicUrl" style="top:5px;height:38px">
        </a>
    </div>
</div>