<div class="tabs tabs-icon-only">
        <a class="tab-item" ui-sref="app.home">
            <i class="icon ion-home"></i>
        </a>
        <a class="tab-item" style="padding-top:8px" ui-sref="app.competition()">
            <i><img style="height:28px" src="../img/Competition%20B.png"></i>
        </a>
        <a class="tab-item" ng-click="openPopover($event)">
            <i class="icon ion-camera"></i>
        </a>
        <a class="tab-item" ng-click="mailBox()">
            <i class="icon ion-android-mail"></i>
        </a>
        <a class="tab-item" style="padding-top:8px" ng-click="modal.show()">
            <i><img class="icon" style="height:28px" src="../img/Notifications_Black.png"></i>
            
        </a>
        
        
</div>