        <ion-nav-title>
            <p style="padding-top:2px"></p>
            <img src="img/Glostars_Logo-02_White_PNG.png" style="width:100px;">
            
        </ion-nav-title>

        <ion-nav-buttons side="left">
            <div style="padding-top:9px;padding-left:6px"><button menu-toggle="left"><i class="icon ion-navicon-round" style="font-size:25px;" ></i></button></div>
            
        </ion-nav-buttons>
        

        <ion-nav-buttons side="right">
            <div style="padding-top:9px;padding-right:6px">
                <i class="icon ion-ios-search-strong" style="font-size:25px" ui-sref="app.search()"></i>
            </div>
            
        </ion-nav-buttons>
