<ion-view>


    <ion-content class="has-footer">
        <div class="list card" ng-repeat="photo in pics">
            <!-- TODO: make this div repeat for every picture available -->
            <div class="item item-avatar" style="border-bottom:none">

                <img ui-sref="app.profile()" ng-src="{{photo.poster.profilePicURL}}">



                <a ui-sref="app.profile()">
                <h3>{{photo.poster.name}}</h3></a>
                <p style="padding-top:10px">{{photo.description}}</p>

            </div>
            <div class="col text-right">

                <p style="color:#D1D0CE;"><span style="left:5%;position:absolute">{{photo.uploaded}}</span><span> <img src="../img/Public%20B.png" height="20px" ng-if="photo.privacy === 'public'"><img src="../img/Competition%20B.png" ng-if="isCompeting" height="20px"> <img ng-if="!dejaAime(photo.id, myUser)" src="../img/Star_empty%20Ts.png" height="20px" ng-click="rate(photo.id, myUser, users[myUser].name)"><img  ng-if="dejaAime(photo.id, myUser)" src="../img/Star%20Filled%201s.png" height="20px" ng-click="rate(photo.id, myUser, users[myUser].name)"> </span>{{photo.ratings.length}}</p>

                <!-- filter photos by time -->
            </div>

            <div class="item item-image" style="position:relative">
                <img ng-src="{{photo.picUrl}}" style="position:relative" on-double-tap="rate(photo.id, myUser, users[myUser].name)">
                <!-- TODO get image from user-->
                <img ng-if="animIN == photo.id" class="animated rollIn" src="../img/Star%20Filled%201.png" style="height:50%;position:absolute;left:30%;top:20%;">

            </div>
            <div class="row no-padding">
                <div class="col text-left" ng-click="openPopover($event)">
                    <i class="icon ion-android-share-alt" style="font-size:25px"></i> <!-- TODO share stuff -->

                </div>
                <div class="col text-right" ng-click="openComment(photo.id)">
                    <span><img src="../img/Comment.png" style="height:25px;"> {{photo.comments.length}}</span>
                     <!-- TODO Open comment page -->


                </div>

            </div>

        </div>




    </ion-content>


</ion-view>
