<ion-view>


    <ion-content class="has-header">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>


        <div class="list card" ng-repeat="photo in pics | orderBy: uploaded" style="box-shadow:none;border-bottom:1px solid gray ">
          <div class="row">
            <div class="col">

            <!-- stuff comes here  -->
              <div class="item item-avatar item-text-wrap" style="border-bottom:none">

                  <img ui-sref="app.profile({id:photo.poster.userId})" ng-src="{{photo.poster.profilePicURL}}">

                  <i ui-sref="app.profile({id:photo.poster.userId})">
                      <h2><strong>{{photo.poster.name}}</strong></h2></i>
                      <p style="padding-top:10px">{{photo.description}}</p>

              </div>
            </div>
          </div>
          <div class="row no-padding">
              <div class="col col-20 text-right">
                  <p style="color:#D1D0CE;"><span style="left:5%;position:absolute" >{{photo.uploaded | date: 'medium'}}</span>
              </div>
          </div>

          <div class="row">
            <div class="col col-33 col-offset-75">
                <div class="imgContainer" style="display:inline">
                    <img src="img/Competition%20B.png" style="height:20px;box-shadow:none" ng-if="isCompeting" >
                    <img src="img/Public%20B.png" style="height:20px;box-shadow:none" ng-if="photo.privacy === 'public'">
                </div>
                <div class="imgContainer" style="display:inline;padding-left:2px" ng-click="rate(photo.id, myUser, users[myUser].name)">
                    <img src="img/Star_empty%20Ts.png" style="height:20px;box-shadow:none" ng-if="!dejaAime(photo.id, myUser)">
                    <img src="img/Star%20Filled%201s.png" style="height:20px;box-shadow:none" ng-if="dejaAime(photo.id, myUser)">
                </div>
                <div class="imgContainer" style="display:inline">
                  <p style="padding-left:10px">{{photo.starsCount}}</p>
                </div>
            </div>

          </div>

          <div class="item item-image" style="position:relative">
              <img ng-src="{{photo.picUrl}}" style="position:relative" on-double-tap="rate(photo.id, myUser, users[myUser].name)">
              <!-- TODO get image from user-->
              <img ng-if="animIN == photo.id" class="animated rollIn" src="/img/Star%20Filled%201.png" style="height:50%;position:absolute;left:30%;top:20%;">

          </div>
          <div class="row no-padding">
              <div class="col text-left" ng-click="openPopover($event)">
                  <i class="icon ion-android-share-alt" style="font-size:25px"></i> <!-- TODO share stuff -->

              </div>
              <div class="col col-10 col-offset-50" ng-click="openComment(photo.id)" style="white-space:nowrap">
                    <img src="img/Comment.png" style="height:25px;box-shadow:none;">
                   <!-- TODO Open comment page -->
              </div>
              <div class="col col-10">
                  {{photo.comments.length}}
                  <p style="padding-top:5px"></p>
              </div>
          </div>

      </div>

      <ion-infinite-scroll
          ng-if="!refreshing"
          on-infinite="doRefresh(true)"
          distance="2%">
      </ion-infinite-scroll>
    </ion-content>
</ion-view>
