<ion-view>
    <ion-nav-bar class="home-bar">
        <ion-nav-buttons side="left">
            <div class="bar bar-header item-input-inset" style="border-bottom:none; ">
              <img src="../img/Glostars_Logo-02_White_PNG.png" style="width:100px">
  
            </div>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="bar bar-header" style="border-bottom:none;">
                <button class="button" style="background-color: transparent; height:45px; ">
                    <i class="icon ion-ios-search-strong"></i>
                    
                </button>
            </div>
        </ion-nav-buttons>
        
    </ion-nav-bar>
    
     
    
    <ion-content class="has-footer">
        <div class="list card" ng-repeat="photo in photos | orderBy:'-date'">
            <!-- TODO: make this div repeat for every picture available -->
            <div class="item item-avatar" style="border-bottom:none">
                
                <img ui-sref="app.profile({id:photo.userId})" ng-src="{{baseURL+users[photo.userId].image}}">
                
               
        
                <a ui-sref="app.profile({id:photo.userId})"> 
                <h3>{{photo.author}}</h3></a>
                <p style="padding-top:10px">{{photo.caption}}</p>
                
            </div>
            <div class="col text-right">
                
                <p style="color:#D1D0CE;"><span style="left:5%;position:absolute">{{photo.date | date:'medium'}}</span><span> <img src="../img/Public%20B.png" height="20px" ng-if="photo.category === 'public'"><img src="../img/Competition%20B.png" ng-if="photo.category === 'competition'" height="20px"> <img ng-if="!dejaAime(photo.id, myUser)" src="../img/Star_empty%20Ts.png" height="20px" ng-click="rate(photo.id, myUser, users[myUser].name)"><img  ng-if="dejaAime(photo.id, myUser)" src="../img/Star%20Filled%201s.png" height="20px" ng-click="rate(photo.id, myUser, users[myUser].name)"> </span>{{photo.rating}}</p>
                
                <!-- filter photos by time -->
            </div>
            
            <div class="item item-image" style="position:relative">
                <img ng-src="{{baseURL+photo.image}}" style="position:relative" on-double-tap="rate(photo.id, myUser, users[myUser].name)">
                <!-- TODO get image from user-->
                <img ng-if="animIN == photo.id" class="animated rollIn" src="../img/Star%20Filled%201.png" style="height:50%;position:absolute;left:30%;top:20%;">
                
            </div>
            <div class="row no-padding">
                <div class="col text-left" ng-click="openPopover($event)">
                    <i class="icon ion-android-share-alt" style="font-size:25px"></i> <!-- TODO share stuff -->
                        
                </div>
                <div class="col text-right" ng-click="openComment(photo.id)">
                    <span><img src="../img/Comment.png" style="height:25px;"> {{photo.comments.length}}</span>
                     <!-- TODO Open comment page -->
                        
                     
                </div>
                
            </div>
            
        </div>
        
        
        
        
    </ion-content>
    
</ion-view>