<ion-view>
    <ion-nav-bar class="home-bar">
        <ion-nav-buttons side="left">
            <div class="bar bar-header" style="border-bottom:none;">
                <button class="button" style="background-color: transparent; height:50px" ng-click="myGoBack()">
                    <i class="icon ion-arrow-left-a"></i>
                    
                </button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content class="has-footer">
        <!-- profile picture and status -->
        <div class= "list" style="padding-top:10px;" ui-sref="app.edit({id:myUser})">
            <a class="item item-thumbnail-left" style="border:none">
                <img ng-src="{{baseURL+user.image}}" alt="{{user.name}}">
                <h2><strong>{{user.name}}</strong></h2>
                <div><p>{{user.description}}</p></div>
                <button class="button icon ion-gear-a" ng-if="user.id == myUser"></button>
                <button ng-if="!isFollower(user.id) && user.id != myUser" class="button button-small button-stable" ng-click= "follow(user.id)">Follow</button>
                <button ng-if="isFollower(user.id) != 0 && user.id != myUser && !isFollowing(user.id)" class="button button-small button-positive" ng-click="unfollow(user.id)">Following</button>
                <button ng-if="isFollower(user.id) && user.id != myUser && isFollowing(user.id)" class="button button-small button-balanced">Mutual Follower</button>
                
                
            </a>    
        </div>
        <!-- switch views tab -->
        <div class="button-bar button-block">
            <a class="button" style="box-shadow: 2px 2px 2px #888888;" ng-click="select(1)"><p>{{numOfUserPics(user.id)}} photos</p></a>
            <a class="button" style="box-shadow: 2px 2px 2px #888888;" ng-click="select(3)"><p>Followers {{user.followers.length}}</p></a>
            <a class="button" style="box-shadow: 2px 2px 2px #888888;" ng-if="user.id === myUser" ng-click="select(4)"><p>Following {{user.friends.length}}</p></a>
        </div>
        <!-- photos buttom (list view) --> 
        <div class="list" ng-if="isSelected(1)">
            <div class="card" ng-repeat="photo in photos | filter:{userId:user.id}">
                <div class="item item-avatar" style="border-bottom:none">
                    <p>something</p>
                </div>
            
                <div class="item item-image">
                    <img ng-src="{{baseURL+photo.image}}">
                </div>
                <div class="row no-padding">
                    <div class="col" style="border-right:solid gray 1px">
                    <i class="icon ion-thumbsup" style="padding-left:25px"> {{photo.rating}}</i><!-- TODO get number of rates -->
                    </div>
                    <div class="col" style="border-right:solid black 1px">
                    <i class="icon ion-chatbox-working" style="padding-left:10px"> Comment</i> <!-- TODO Open comment page -->
                        
                     
                    </div>
                    <div class="col text-right">
                    <i class="icon ion-android-share-alt" style="padding-right:25px"> Share</i> <!-- TODO share stuff -->
                        
                    </div>
                </div>
            </div>
        </div><!--/list -->
        <div class="list" ng-if="isSelected(2)">
            <p>Public pictures</p>
        </div>
        <div class="list" ng-if="isSelected(3)" ng-repeat="follower in user.followers">
            <a class="item item-avatar" ui-sref="app.profile({id:follower.id})">
                <img ng-src="{{baseURL+users[follower.id].image}}">
                <p style="padding:10px">{{follower.name}}</p>
                <div ng-if="follower.id != myUser">
                <button ng-if="isFollower(follower.id) && isFollowing(follower.id)" class="button button-small button-balanced" ng-click="unfollow(follower.name)">Mutual Follower</button>
                <button class="button button-small button-positive" ng-if="!isFollowing(follower.id) && isFollower(follower.id)">Following</button>
                <button ng-if="!isFollower(follower.id)" class="button button-small button-stable" ng-click="follow(follower.id)">Follow</button>
                </div>
            </a>
        </div>
        
        <div class="list" ng-if="isSelected(4)" ng-repeat="friend in user.friends">
            <a class="item item-avatar" ui-sref="app.profile({id:friend.id})">
                <img ng-src="{{baseURL+users[friend.id].image}}">
                <p style="padding:10px">{{friend.name}}</p>
                <div ng-if="friend.id != myUser">
                <button ng-if="!isFollower(friend.id)" class="button button-small button-stable" ng-click= "follow(friend.id)">Follow</button>
                <button ng-if="isFollower(friend.id) && !isFollowing(friend.id)" class="button button-small button-positive" ng-click="unfollow(friend.id)">Following</button>
                <button ng-if="isFollowing(friend.id)" class="button button-small button-balanced" ng-click="unfollow(friend.name)">Mutual Follower</button>
                </div>
            </a>
        </div>
        
        
               
        
        
        
    
        
    
        
    </ion-content>
</ion-view>