<ion-view>
    <ion-nav-bar class="home-bar"></ion-nav-bar>
    <ion-content>
        <div class= "list" style="padding-top:15px">
            <a class="item item-thumbnail-left" style="border:none">
                <img src="../img/0,5.jpg" alt="example">
                <h2><strong>Joanna Q. Public</strong></h2>
                <p>Joanna's very own profile status</p>
                <i class="icon ion-gear-b"></i>
                
            </a>
            
        </div>
        
    
        
    </ion-content>
</ion-view>