<ion-view>
    <ion-nav-bar class="home-bar">
        <ion-nav-buttons side="left">
            <div class="bar bar-header" style="border-bottom:none;">
                <button class="button" style="background-color: transparent; height:50px" ng-click="myGoBack()">
                    <i class="icon ion-arrow-left-a"></i>
                    
                </button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content>
        <!-- profile picture and status -->
        <div class= "list" style="padding-top:10px; border-bottom:solid 1px">
            <a class="item item-thumbnail-left" style="border:none">
                <img ng-src="{{baseURL+user.image}}" alt="{{user.name}}">
                <h2><strong>{{user.name}}</strong></h2>
                <p>{{user.description}}</p>
                <i class="icon ion-gear-b"></i>
                
            </a>    
        </div>
        <!-- switch views tab -->
        <div class="button-bar button-block">
            <a class="button" ng-click="select(1)" style="border:solid 1px"><i class="icon ion-images"></i></a>
            <a class="button" ng-click="select(2)" style="border:solid 1px"><i class="icon ion-ribbon-b"></i></a>
            <a class="button" ng-click="modal.show()" style="border:solid 1px"><i class="icon ion-clipboard"></i></a>
            <a class="button" ng-click="select(4)" style="border:solid 1px"><i class="icon ion-ios-people"> 0</i></a>
        </div>
        <!-- photos buttom (list view) --> 
        <div class="list" ng-if="isSelected(1)">
            <div class="card" ng-repeat="photo in photos | filter:{userId:user.id}">
                <div class="item item-avatar" style="border-bottom:none">
                    <p>something</p>
                </div>
            
                <div class="item item-image">
                    <img ng-src="{{baseURL+photo.image}}">
                </div>
                <div class="row no-padding">
                    <div class="col" style="border-right:solid gray 1px">
                    <i class="icon ion-thumbsup" style="padding-left:25px"> {{photo.rating}}</i><!-- TODO get number of rates -->
                    </div>
                    <div class="col" style="border-right:solid black 1px">
                    <i class="icon ion-chatbox-working" style="padding-left:10px"> Comment</i> <!-- TODO Open comment page -->
                        
                     
                    </div>
                    <div class="col text-right">
                    <i class="icon ion-android-share-alt" style="padding-right:25px"> Share</i> <!-- TODO share stuff -->
                        
                    </div>
                </div>
            </div>
        </div><!--/list -->
        <div class="list" ng-if="isSelected(2)">
            <p>Public pictures</p>
        </div>
        <div class="list" ng-if="isSelected(3)">
            <p>List of notifications</p>
        </div>
        <div class="list" ng-if="isSelected(4)">
            <p>List of friends</p>
        </div>
        
        
               
        
        
        
    
        
    
        
    </ion-content>
</ion-view>