<ion-view>
    <ion-content>
        <div class="card">
            <div class="item item-image " style="height:170px">
                <img src="../img/IMG_4253.jpg">
            </div>
            <div class="item item-image" style="height:170px">
                <img src="../img/0,5.jpg">
            </div>
            <div class="item item-image" style="height:170px">
                <img src="../img/3.jpg">
            </div>
            
    
        </div>
        <div class="row">
            <div class="col col-50 col-offset-20" style="padding-left:15px">
                <button class="button button-assertive">Log in </button>
                <button class="button button-balanced">Signup</button>
            </div>
        </div>
        
        
    </ion-content>
</ion-view>