<ion-view>
    <!-- <ion-nav-bar class="home-bar"> -->
      <div class="home-bar item-input-inset">
        <label class="item-input-wrapper">
          <input type="search" placeholder="Search" ng-model="searchBox" ng-change="changeMe()">
          <i class="icon ion-ios-search placeholder-icon" style="font-size:20px" ng-click=""></i>
        </label>
        <button class="button button-small button-assertive" style="box-shadow: 1px 1px 1px 1px; background-color:transparent;font-size:15px;font-family:'Times New Roman';padding-right:5px;padding-left:5px;" ng-click="select(1)">
          Recent
        </button>
      </div>

  <ion-content class="has-header has-footer">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refresh(false)">
      </ion-refresher>
      <p style="padding:5px"></p>
      <!-- a new row is only created when there are  -->
      <!-- enough pictures  -->
      <div ng-if="isSelected(1)">
          <div class="row" ng-repeat="photo in pics" ng-if="$index % 2 === 0">
              <div class="col col-50 item item-image" ng-if="$index+1 < pics.length" ng-click="switchToFeed(photo.id)">
                  <img ng-src="{{ pics[$index].picUrl}}" class="profileGallery">
              </div>
              <div class="col col-50 item item-image" ng-if="$index+1 < pics.length" ng-click="switchToFeed(photo.id)">
                  <img ng-src="{{pics[$index+1].picUrl}}" class="profileGallery">
              </div>

          </div>

      </div>


      <div ng-if="isSelected(2)">
          <div class="list" ng-if="users.length > 0">
              <a class="item item-avatar" ng-repeat="person in users" ui-sref="app.profile({id:person.id})" ng-if="users.length > 0">
                  <img src="{{person.profilemediumPath}}">
                  <h2>{{person.name}} {{person.lastName}}</h2>
                  <br>
                  <p></p>
              </a>
              <div ng-if="searching == true" style="text-align: center;">
                <ion-spinner></ion-spinner>
              </div>
              <a ng-if="users.length == 0 && searching == false"> {{searchText}}</a>
              <hr>
          </div>
          <div class="list" ng-if="hashtags.length > 0">
              <a class="item" ng-repeat="hash in hashtags" ng-click="goToHash(hash)">
                <h2>{{hash}}</h2>
              </a>
          </div>
      </div>

      <ion-infinite-scroll
        ng-if="isSelected(1) && !refreshing"
        on-infinite="refresh(true, 20)"
        distance="2%">
      </ion-infinite-scroll>

  </ion-content>
</ion-view>
