<ion-view>
    <ion-nav-bar class="home-bar">
        <ion-nav-buttons side="left">
            <div class="bar bar-header" style="border-bottom:none; box-shadow:none">
                <button class="button" style="background-color: transparent; height:40px; padding-top:10px; padding-right:10px; box-shadow:none" ng-click="">
                    <i class="icon ion-arrow-left-a"></i>

                </button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-footer">
        <div class="row" style="padding-top:20px">
            <div class="col col-offset-33">
                <h4>Glostars</h4>
            </div>
        </div>
        <ion-list>
            <ion-item ui-sref="app.aboutus()">About us</ion-item>
            <ion-item>Terms</ion-item>
            <ion-item>Data Privacy</ion-item>
            <ion-item ui-sref="app.FAQ()">FAQ</ion-item>
            <ion-item ui-sref="app.testpicsend()">Contact Us</ion-item>
            <ion-item ng-click="logOut()">Log out</ion-item>
        </ion-list>

    </ion-content>
</ion-view>
